@import '../../assets/scss/base';

.hero {
  height: 22rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    .hero-title {
      font-size: 50px;
      font-weight: 700;
      color: #FFFFFF;
    }

    .hero-subtitle {
      margin: 1rem 0 1.5rem;
      color: #FFFFFF;
    }

    .hero-button {
      color: #FFFFFF;
      border: 2px solid #FFFFFF;
      border-radius: 0;
      text-transform: uppercase;
      padding: 1rem 1.5rem;
      max-width: 8.75rem;
    }

    .hero-button:hover,
    .hero-button:focus {
      background-color: #FFFFFF;
      border: none;
      color: #3F4143;
      font-weight: bold;
    }
  }
}
