@import '../../assets/scss/base';

.social-media {
  .icon {
    font-size: 24px;
    margin-right: 1rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .social-media {
    display: flex;
    justify-content: space-around;

    .icon {
      margin-right: 0 !important;
    }
  }
}
